* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

main {
    width: 90%;
    margin: auto;
}

ttable {
    width: 100%;
    border-collapse: separate;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
}

form {
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
}
.galeria {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

}
 @media (max-width: 600px) {

    table {

        font-size: 12px;

    }
 
    input,

    textarea {

        width: 100%;

    }

}
 